html {
    background-color: rgba(85, 156, 173, 0.6);
    font-family: 'Pontano Sans', sans-serif;
}
a {
    text-decoration: none;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    background-color: white;
    text-align: center; 
}

.main {
    margin: 50px 0;
    color: white;
    letter-spacing: .05em;
}

.hidden {
    display: none;
}

.navList {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline;
}

.navList__link {
    display: inline;
    list-style: none;
    text-decoration: none;    
}

.navList__link:first-child {
    margin: 0 20px 0 0;
}

.navList__link:not(:first-child) {
    margin: 0 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    background-color: white;
}

.main__blog {
    text-align: center;
}

.main__blog__title,
.main__blog__entry,
.main__blog__tags {
    width: 75%;
    border-radius: 5px;
}

.main__blog__entry {
    height: 100px;
}

.main__blog__article {
    text-align: left;
}

.newBlogArticle {
    border: solid 1px black;
    padding: 25px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    color: black;
    max-height: 150px;
    overflow: auto;
    font-size: 12px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 20px;
}